.page{
    margin-bottom: 20vh;
    min-height: 120vh;
    scroll-behavior: smooth;
    opacity: 0;
}
.projects_container .project{
    height: 100vh;
}

.show{
    opacity: 1;
    transition: all 1s;
}